.container{
    width:100%;
    height: 100%;
    background: red;
}
.logo{
    width: 30%;
    height: 100px;
    background: red;
    float: left;
}
.logo img{
    height: 100px;
    width:100%;
}
.menu{
    width:70%;
    height: 100px;
    background: blue;
    float: left;
}
@media screen and (min-width:600px) and (max-width:1000px)
{
    .logo{
        width:100%;
        background: pink;
    }
    .logo img{
        width:20%;
        margin:0% 40%;
    }
    .menu{
        width: 100%;
    }
}