.c {
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
}
.c1 {
    height: 20%;
    width: 20%;
    background-color: brown;
    position: absolute;
    top:2%;
    left:5%;
}
.c2 {
    height: 30%;
    width: 30%;
    background-color: aqua;
    position: absolute;
    top:2%;
    left:28%;
} 
.c3 {
    height: 40%;
    width: 35%;
    background-color: chartreuse;
    position: absolute;
    top:2%;
    left:61%;
}
