.container {
    height: 200px;
    width: 200px;
    background-color: black;
    /* position: relative; */
    position: absolute;
    top:20px;
    left:20px;
}
.container1 {
    height: 100px;
    width: 100px;
    background-color: blue;
    position: relative;
    /* top:20px; */
    /* left:20px; */
}